<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>


<% @photos.each do |photo| %>
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
      <% user = User.find(photo.user_id)    %>
          <a href="/users/<%=photo.user_id%>"><%=user.email%></a>
        </h3>
      </div>

      <div class="panel-body">
        <a href="/photos/<%= photo.id %>">
          <img src="<%= photo.image %>" class="img-responsive">
        </a>
<p> </p>



<ul class="media-list">

          <li class="media">
            <div class="media-body">
              <%   @sorted_comments.each do |comment| %>
                <% user = User.find(comment.user_id)    %>
              <% if comment.photo_id == photo.id %>

              <h6 class="media-heading">

                <a href="/users/<%=comment.user_id%>"><%=user.email%></a>

              </h6>


              <%=  comment.body %>
              <%  end %>
              <%  end %>
            </div>
          </li>


    














      </div>


</div>
</div>
</div>
<% end %>
